@model WebApplicationDotNet.Models.Car

@{
    ViewData["Title"] = "Update Car";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="EditCar">
            <div class="form-group">
                <label asp-for="BrandAndModel"></label>
                <input asp-for="BrandAndModel" class="form-control" />
                <span asp-validation-for="BrandAndModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManufactureDate"></label>
                <input asp-for="ManufactureDate" type="date" class="form-control" />
                <span asp-validation-for="ManufactureDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsAvailable"></label>
                <input asp-for="IsAvailable" type="checkbox" />
                <span asp-validation-for="IsAvailable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RentalPrice"></label>
                <input asp-for="RentalPrice" type="number" step="0.01" class="form-control" />
                <span asp-validation-for="RentalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="UserId" class="form-control" type="hidden" readonly />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</div>

@section Scripts {
        <partial name="_ValidationScriptsPartial" />
}